In [1]:
import pandas as p

In [11]:
df = p.read_excel('resources_dataset/5_Energy_Consumption_Dataset_For_Smart_Homes.xlsx')

In [12]:
df

                TimeStamp  Ventilador      PC          AC  Lampara      TV
0     12/29/2023 17:28:00      0.0270  0.0000      0.0000   0.0033  0.0000
1     12/29/2023 17:29:00      0.0168  0.0000      0.0000   0.0000  0.0000
2     12/29/2023 17:30:00      0.0210  0.0000      0.0000   0.0000  0.0000
3     12/29/2023 17:31:00      0.0241  0.0000      0.0000   0.0000  0.0000
4     12/29/2023 17:32:00      0.0218  0.0000      0.0000   0.0000  0.0000
...                   ...         ...     ...         ...      ...     ...
6798  2024-03-01 10:46:00      0.0785  0.0675  10143.0000   0.0072  0.0410
6799  2024-03-01 10:47:00      0.0785  0.0673  10190.0000   0.0092  0.0410
6800  2024-03-01 10:48:00      0.0781  0.0670  10086.0000   0.0083  0.0407
6801  2024-03-01 10:49:00      0.0785  0.0667      0.5264   0.0082  0.0409
6802  2024-03-01 10:50:00      0.0789  0.0659      0.0142   0.0096  0.0411

[6803 rows x 6 columns]